<div class="container">
  <!-- Content here -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
<div class="container">
  <div *ngIf="userS.isAuthenticated()">
    <h1>Lernziele</h1>
    <div>

      <h2 class="indi">Ich kenne die Aimy-speziefischen Begriffe und ihre Bedeutung.</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Art</th>
            <th scope="col">Selbsteinschätzung</th>
            <th scope="col">Erfolgsbestätigung</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Kennen</td>
            <td scope="row">Gut</td>
            <td scope="row">83%</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Lernfeld/Modul</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Aimy</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th scope="col">Kontrolle in Review</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="stamm"><a class="nav-link" routerLink="/review/5bbe2b03e7d53f290d323b62" routerLinkActive="active-link">AIMY 1 - M1: Taxonomy</a></td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th scope="col">Vermittelt in</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Präsentation XY</td>
          </tr>
        </tbody>
      </table>

      <h2 class="indi">Ich verstehe die RACI-Matrix und kann diese anwenden.</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Art</th>
            <th scope="col">Selbsteinschätzung</th>
            <th scope="col">Erfolgsbestätigung</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Können</td>
            <td scope="row">Gut</td>
            <td scope="row">76%</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Lernfeld/Modul</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IT Service Management</td>
          </tr>
          <tr>
            <td>Besondere Betriebslehre, HR</td>
          </tr>
        </tbody>

        <thead>
          <tr>
            <th scope="col">Kontrolle in Review</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="stamm"><a class="nav-link" routerLink="/review/5bbe2b03e7d53f290d323b62" routerLinkActive="active-link">SERM Mastery 1</a></td>
          </tr>
          <tr>
            <td class="stamm"><a class="nav-link" routerLink="/review/5bbe2b03e7d53f290d323b62" routerLinkActive="active-link">UNTF Mastery 1</a></td>
          </tr>
        </tbody>

        <thead>
          <tr>
            <th scope="col">Vermittelt in</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Event 8 SERM</td>
          </tr>
          <tr>
            <td>Event 6 UNTF</td>
          </tr>
          <tr>
            <td>Begleitunterlagen Event 8 SERM</td>
          </tr>
          <tr>
            <td>Begleitunterlagen Event 6 UNTF</td>
          </tr>
        </tbody>


      </table>
      <h1>...</h1>
      
      
      
    </div>
  </div>
<div *ngIf="!userS.isAuthenticated()">
        <h2>Nicht angemeldet</h2>
</div>
</div>