<div class="container">
  <!-- Content here -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
<div class="container">
      <h4 *ngIf="auth.isAuthenticated()">
        
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Mastery Aktuell</h3>
        <p class="card-text">Es stehen ein paar aktuelle Masteries an. Diese sollten in den nächsten Tagen erledigt werden.</p>
        <a class="btn btn-primary" routerLink="/user" routerLinkActive="active-link">Mastery durchführen</a>
        <a href="#" class="btn btn-primary">Kann noch nicht</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Infos der Mitlernenden</h5>
        <p class="card-text">Dies haben andere schon erreicht.</p>
        <a href="#" class="btn btn-primary">Das kann ich auch</a>
      </div>
    </div>
  </div>
</div>        

<div class="container">
  <!-- Content here -->
  <p>&nbsp;</p>
</div>

        <div class="card">
          <div class="card-header">
            Mastery Aktuell
          </div>
          <div class="card-body">
            <p>Aimy ermöglicht individualisiertes selbstgesteuertes Lernen. Du bestimmst das Tempo und übernimmst Verantwortung. Aimy unterstützt Dich vielfältig. Z.B. durch auf Dich abgestimmte Lernwege.</p>
          </div>
        </div>
        
        
      </h4>
      <h4 *ngIf="!auth.isAuthenticated()">
        <div class="card">
          <div class="card-body">
            <p>Für individualisiertes selbstgesteuertes Lernen, melden Sie sich bitte über <a (click)="auth.login()">[Log In]</a> an.</p>
            <p>Hierzu ist ein aktiver Account nötig.</p>
            <p>Wenn Sie keinen Account haben und Sie auch keine Einladung von Ihrem Dozenten erhalten haben, resistrieren Sie sich bitte hier.</p>
          </div>
        </div>
      </h4>
</div>