<div class="container">
  <!-- Content here -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
<div class="container">
      <h4 *ngIf="auth.isAuthenticated()">
        
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Mastery Aktuell</h3>
        <p class="card-text">Es stehen ein paar aktuelle Masteries an. Diese sollten in den nächsten Tagen erledigt werden.</p>
        
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Optionen</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mast of user.getCurrentUser().getVerifications(); index as i">
<!--              <td><a href='review/{{ mast._id }}' data-toggle="tooltip" data-placement="top" title="Lernziel: {{ mast.learninggoal.name }}">{{ mast.name }}</a></td>-->
              <td><a class="nav-link" routerLink="/review/{{ mast._id }}" routerLinkActive="active-link">{{ mast.name }}</a></td>
              <td>
                <img *ngIf="mast.options.start" src="../../client/img/open-iconic/media-play-3x.png" data-toggle="tooltip" data-placement="top" title="Starte direkt die Überprüfung"/>
                <img *ngIf="mast.options.delay" src="../../client/img/open-iconic/media-pause-3x.png" />
                <img *ngIf="mast.options.replay" src="../../client/img/open-iconic/reload-3x.png" />

                <img *ngIf="mast.options.locked" src="../../client/img/open-iconic/lock-locked-3x.png"  data-toggle="tooltip" data-placement="top" title="Überprüfung wurde gesperrt"/>
                <img *ngIf="!mast.options.locked" src="../../client/img/open-iconic/lock-unlocked-3x.png" />

                <img *ngIf="mast.options.coach" src="../../client/img/open-iconic/person-3x.png"  data-toggle="tooltip" data-placement="top" title="Du kannst einen Coach zu Rate ziehen"/>
                <img *ngIf="mast.options.group" src="../../client/img/open-iconic/people-3x.png"  data-toggle="tooltip" data-placement="top" title="Du kannst in einer Gruppe diskutieren"/>
              </td>
            </tr>
          </tbody>
        </table>
        
        
<!--        
        <a class="btn btn-primary" routerLink="/user" routerLinkActive="active-link">Mastery durchführen</a>
        <a href="#" class="btn btn-primary">Kann noch nicht</a>
-->        
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Infos der Mitlernenden</h5>
        <p class="card-text">Dies haben andere schon erreicht.</p>
        <a href="#" class="btn btn-primary">Das kann ich auch</a>
      </div>
    </div>
  </div>
</div>        

<div class="container">
  <!-- Content here -->
  <p>&nbsp;</p>
</div>

        <div class="card">
          <div class="card-header">
            Mastery Aktuell
          </div>
          <div class="card-body">
            <p>Aimy ist eine Capability/Competenz Management Plattform (Individual Competence Management Platform - ICMP) und ermöglicht individualisiertes selbstgesteuertes Lernen. Du bestimmst das Tempo und übernimmst Verantwortung. Aimy unterstützt Dich vielfältig. Z.B. durch auf Dich abgestimmte Lernwege.</p>
          </div>
        </div>
        
        
      </h4>
      <h4 *ngIf="!auth.isAuthenticated()">
        
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="client/img/carousel/aaron-burden-236415-unsplash.jpg" alt="First slide" height="300" width="200">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="client/img/carousel/priscilla-du-preez-623040-unsplash.jpg" alt="Second slide" height="300">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="client/img/carousel/white background version.jpg" alt="Third slide" height="300">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>        
        
        
        
        <div class="card">
          <div class="card-body">
            <p>Für individualisiertes selbstgesteuertes Lernen, melden Sie sich bitte über <a (click)="auth.login()">[Log In]</a> an.</p>
            <p>Hierzu ist ein aktiver Account nötig.</p>
            <p>Wenn Sie keinen Account haben und Sie auch keine Einladung von Ihrem Dozenten erhalten haben, resistrieren Sie sich bitte hier.</p>
          </div>
        </div>
      </h4>
</div>