<div class="container">
  <!-- Content here -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>
<div class="container">
    <div *ngIf="userS.isAuthenticated()">
        <div *ngIf="this.getRevId()!=undefined">
<!--            <h1>{{ reviewS.review.getReviewName() }}</h1>
            ({{ this.getRevId() }})
-->
            <h1>{{ this.reviewData.name }}</h1>
            <div [innerHTML]="this.reviewData.description"></div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Lernziel</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let eo of this.reviewData.eduobjectives">
                  <td><a class="nav-link" routerLink="/eduobjective/{{ eo._id }}" routerLinkActive="active-link">{{ eo.name }}</a></td>
                </tr>
              </tbody>
            </table>    
            
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th scope="row">Lernfeld</th>
                  <td class="">{{ this.reviewData.field }}</td>
                  <th scope="row">Modul</th>
                  <td class="">{{ this.reviewData.modul }}</td>
                </tr>
                <tr>
                  <th scope="row">Skill</th>
                  <td class="">...</td>
                  <th scope="row">Challenges</th>
                  <td class="">Der Review enthält {{ this.reviewData.challenges.length }} Aufgaben</td>
                </tr>
                <tr>
                  <th scope="row">Status</th>
                  <td class="indi">{{ this.reviewData.status }}</td>
                  <th scope="row">Id</th>
                  <td class="stamm">{{ this.getRevId() }}</td>
                </tr>
                <tr>
                  <th scope="row">Frühester Start</th>
                  <td>{{ this.reviewData.earlieststart | date: 'dd.MM.yyyy - hh:mm' }}</td>
                  
                   
                  
                  <th scope="row">Spätestes Ende</th>
                  <td>{{ this.reviewData.latestend | date:'dd.MM.yyyy - hh:mm' }}</td>
                </tr>
                <tr>
                  <th scope="row">Start</th>
                  <td>{{ this.reviewData.startmode }}</td>
                  <th scope="row">Art</th>
                  <td>{{ this.reviewData.type }}</td>
                </tr>                  
                <tr>
                  <th scope="row">Begonnen</th>
                  <td class="indi">17.08.2018 - 13:34 Uhr</td>
                  <th scope="row">Abgeschlossen</th>
                  <td class="indi">18.08.2018 - 16:34 Uhr</td>
                </tr>
                <tr>
                  <th scope="row">Resultat</th>
                  <td class="indi">7/16&nbsp;
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="15" style="width: 44%"></div>
                    </div>
                  </td>
                  <th scope="row">Einheit</th>
                  <td class="stamm">{{ this.reviewData.unit }}</td>
                </tr>
                <tr>
                  <th scope="row">Optionen</th>
                  <td class="indi">
                    <img *ngIf="true" src="../../client/img/open-iconic/media-play-2x.png" />
                    <img *ngIf="true" src="../../client/img/open-iconic/media-pause-2x.png" />
                    <img *ngIf="true" src="../../client/img/open-iconic/reload-2x.png" />
    
                    <img *ngIf="true" src="../../client/img/open-iconic/lock-locked-2x.png" />
                    <img *ngIf="true" src="../../client/img/open-iconic/lock-unlocked-2x.png" />
    
                    <img *ngIf="true" src="../../client/img/open-iconic/person-2x.png" />
                    <img *ngIf="true" src="../../client/img/open-iconic/people-2x.png" />
                  </td>            
                </tr>
                <tr>
                  <th scope="row">Autor</th>
                  <td class="stamm">{{ this.reviewData.autor }}</td>
                  <th scope="row">Co-Autor</th>
                  <td class="stamm">{{ this.reviewData.coautor }}</td>
                </tr>
                <tr>
                  <th scope="row">Coach</th>
                  <td class="stamm">{{ this.reviewData.coach }}</td>
                  <th scope="row">Gruppe</th>
                  <td class="stamm">{{ this.reviewData.group }}</td>
                </tr>
              </tbody>
            </table>
            <h1>...</h1>
        </div>
        <div *ngIf="this.getRevId()==undefined">
          <h1>Reviews</h1>
            <table class="table table-hover">
              <thead>
                <tr>
                  
                  <th scope="col">Name</th>
                  <th scope="col">Art</th>
                  <th scope="col">Lernfeld</th>
<!--                  <th scope="col">Modul</th>-->
                  <th scope="col">Lernziele</th>
                  <th scope="col">Challenges</th>
                  <th scope="col">Frühestens</th>
                  <th scope="col">Spätestens</th>
                  <th scope="col">..</th>
                  <th scope="col">Optionen</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mast of this.reviewS.getReviewList(); index as i">
                  
    <!--              <td><a href='{{ mast._id }}'>{{ mast.name }}</a></td>-->
                  <td><a class="nav-link" routerLink="/review/{{ mast._id }}" routerLinkActive="active-link">{{ mast.name }}</a></td>
                  <td>{{ mast.type[0] }}</td>
                  <td>{{ mast.field }}</td>
<!--                  <td>{{ mast.modul }}</td>-->
                  <td><div *ngIf="mast.eduobjectives!=undefined">{{ mast.eduobjectives.length }}</div></td>                  
                  <td>{{ mast.challenges.length }}</td>
                  <td>{{ mast.earlieststart  | date: 'yyyy-MM-dd'}}</td>
                  <td>{{ mast.latestend  | date: 'yyyy-MM-dd'}}</td>
                  
                  
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="15" style="width: 50%"></div>
                    </div>
                  </td>
                  <td><a class="nav-link" routerLink="/challenge/rid/{{ mast._id }}" routerLinkActive="active-link"><img src="../../client/img/open-iconic/play-circle-2x.png" /></a></td>
            
            
                  <td>
<!--                    <img *ngIf="mast.options.start" src="../../client/img/open-iconic/media-play-2x.png" />
                    <img *ngIf="mast.options.delay" src="../../client/img/open-iconic/media-pause-2x.png" />
                    <img *ngIf="mast.options.replay" src="../../client/img/open-iconic/reload-2x.png" />
    
                    <img *ngIf="mast.options.locked" src="../../client/img/open-iconic/lock-locked-2x.png" />
                    <img *ngIf="!mast.options.locked" src="../../client/img/open-iconic/lock-unlocked-2x.png" />
    
                    <img *ngIf="mast.options.coach" src="../../client/img/open-iconic/person-2x.png" />
                    <img *ngIf="mast.options.group" src="../../client/img/open-iconic/people-2x.png" />-->
                  </td>
    
                </tr>
              </tbody>
            </table>    
        </div>
    </div>
    <div *ngIf="!userS.isAuthenticated()">
        <h2>Nicht angemeldet</h2>
    </div>
</div>